@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('/bg.png') #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-converter {
  margin: auto;
  padding: 40px 30px 50px;
  border-radius: 12px;
  max-width: 420px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
}

.converter-title {
  font-size: 24px;
  font-weight: 700;
  color: #FFC107; /* Jaune */
}

.currency-converter .converter-form {
  margin-top: 45px; /* Correction ajout px */
}

.form-group {
  margin-bottom: 50px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Espacement équilibré */
  gap: 10px;
}

.form-label {
  font-size: 16px;
  color: white;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #673AB7; /* Violet foncé */
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.currency-converter .converter-form .form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.currency-select {
  display: flex;
  flex-direction: row; /* Alignement horizontal */
  align-items: center; /* Alignement vertical */
  justify-content: flex-start;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

.currency-dropdown {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
}

.submit-button {
  background: linear-gradient(45deg, #00BCD4, #E91E63);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  opacity: 0.8;
}

.exchange-rate-result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #FFC107;
}
