@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('/bg.png') #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-converter {
  margin: auto;
  padding: 40px 30px 50px;
  border-radius: 12px;
  max-width: 420px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-align: center;
}

.converter-title {
  font-size: 24px;
  font-weight: 700;
  color: #FFC107; /* Jaune */
}

.converter-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form-label {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #673AB7; /* Violet foncé */
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
}

.form-input:focus {
  outline: none;
  border: 1px solid #FFC107;
}

.currency-select {
  display: flex;
  flex-direction: row; /* Alignement horizontal */
  align-items: center; /* Alignement vertical */
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  
}

.currency-select img {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  
}

.currency-dropdown {
  background: transparent;
  border: none;
  color: rgb(235, 226, 226); /* Assurer que le texte soit bien visible */
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  appearance: none; /* Supprime le style par défaut des sélecteurs */
  padding: 8px;
}

/* Amélioration pour la liste déroulante */
.currency-dropdown option {
  background: white;
  color: black;
}


.currency-dropdown:focus {
  outline: none;
}

.swap-icon {
  font-size: 1.8rem;
  color: #FFC107;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 15px auto;
}

.swap-icon:hover {
  transform: rotate(180deg);
}

.submit-button {
  background: linear-gradient(45deg, #00BCD4, #E91E63);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  opacity: 0.8;
}

.exchange-rate-result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #FFC107;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 6px;
}
